In [9]:
import pandas as pd
import numpy as np
import scipy.stats as stats

## Estudo de Caso

Um  provedor  de  internet oferece diversos  tipos  de  planos  de  acesso com  diferentes largurasde banda.

A empresa então fez um upgrade da sua infraestrutura e gostaria de validar algumas hipóteses sobre o consumo de largura de banda dos clientes.A empresa possuía dados do consumo médio de largura de banda antes do upgrade e registrou o consumo no primeiro mês após o upgrade,no segundo mês e nomês anteriorao upgrade. Os dados foram registrados junto com algumas características dos clientes.

Algumas perguntas de negócioforam formuladas e agora iremos respondê-las através de 4 testes de hipótese.Osdados usados são fictícios

In [10]:
# Carregando dataset
df = pd.read_csv('dados/dataset.csv')

In [11]:
df.head()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
0,70,0,4,1,1,1,57,49.2,52,57.2
1,121,1,4,2,1,3,68,63.6,59,64.9
2,86,0,4,3,1,1,44,64.8,33,36.3
3,141,0,4,3,1,3,63,56.4,44,48.4
4,172,0,4,2,1,2,47,68.4,52,57.2

In [12]:
df.shape

(200, 10)

In [13]:
df.columns

Index(['id_cliente', 'genero', 'canal_atendimento', 'regiao', 'estado_civil',
       'segmento', 'consumo_medio_mensal_antes_upgrade',
       'consumo_medio_mes_anterior_ao_upgrade',
       'consumo_medio_primeiro_mes_apos_upgrade',
       'consumo_medio_segundo_mes_apos_upgrade'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   id_cliente                               200 non-null    int64
 1   genero                                   200 non-null    int64
 2   canal_atendimento                        200 non-null    int64
 3   regiao                                   200 non-null    int64
 4   estado_civil                             200 non-null    int64
 5   segmento                                 200 non-null    int64
 6   consumo_medio_mensal_antes_upgrade       200 non-null    int64
 7   consumo_medio_mes_anterior_ao_upgrade    200 non-null    float64
 8   consumo_medio_primeiro_mes_apos_upgrade  200 non-null    int64
 9   consumo_medio_segundo_mes_apos_upgrade   200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [15]:
df.describe()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,63.174000,52.775000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,11.242137,9.478586,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,39.600000,31.000000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,54.000000,45.750000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,62.400000,54.000000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,70.800000,60.000000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,90.000000,67.000000,73.700000

## Pergunta 1: 

### O consumo médio de largura de banda do mês anterior ao upgrade foi maior que 50?

### Neste caso usaremos um Teste t de Uma Amostra.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html

Calculamos o Teste T para a média de 1 grupo. Este é um teste para a hipótese nula de que o valor esperado (média) de uma amostra de observações independentes é igual à média populacional dada, popmean.

Hipóteses:

- H0: O consumo médio de largura de banda antes do upgrade foi igual a 50.

- H1: O consumo médio de largura de banda antes do upgrade foi diferente de 50.

Se o valor-p for menor que 0,05 rejeitamos a H0. Caso contrário, falhamos em rejeitar a H0.

Se um valor-p relatado a partir de um teste t for menor que 0,05, esse resultado é considerado estatisticamente significativo. Se um valor-p for maior que 0,05, o resultado é insignificante.

Um valor-p de um teste t é a probabilidade de que os resultados de seus dados de amostra tenham ocorrido por acaso.

In [17]:
# Executando o teste
stats.ttest_1samp(a = df.consumo_medio_mes_anterior_ao_upgrade, popmean = 50)

Ttest_1sampResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39)

Como o valor p é muito pequeno,(menor que 50), rejeitamos a H0 e consideramos como verdadeira a H1. O consumo médio de largura de banda antes do upgrade foi diferente de 50

In [18]:
# Conferindo a média da variável
df.consumo_medio_mes_anterior_ao_upgrade.mean()

63.174

## Pergunta 2:  

### Houve diferença de consumo de largura de banda antes e depois do upgrade, considerando o primeiro mês após o upgrade?

### Neste caso usaremos: Teste t de Duas Amostras (Pareado).

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html

Este teste é usado quando temos duas amostras que são relacionadas ou dependentes. Este é um teste para a hipótese nula de que duas amostras relacionadas têm valores médios (esperados) idênticos.

Hipóteses:

- H0: O consumo antes do upgrade foi igual ao consumo após o upgrade (as médias são iguais).
- H1: O consumo antes do upgrade foi diferente do consumo após o upgrade (as médias não são iguais).

Se o valor-p for menor que 0,05 rejeitamos a H0. Caso contrário, falhamos em rejeitar a H0.

In [22]:
# teste de relação entre as variáveis
stats.ttest_rel(a = df.consumo_medio_mes_anterior_ao_upgrade, b = df.consumo_medio_primeiro_mes_apos_upgrade)

Ttest_relResult(statistic=15.98531982173426, pvalue=1.5266010603847624e-37)

In [23]:
print(df.consumo_medio_mes_anterior_ao_upgrade.mean())
print(df.consumo_medio_primeiro_mes_apos_upgrade.mean())

63.174
52.775

# Pergunta 3:  
### O gênero do cliente influenciou o consumo de largura de banda no primeiro mês após o upgrade?

### Neste caso usaremos: Teste t de Duas Amostras Independentes.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

Calculamos o Teste t para as médias de duas amostras independentes. Este é um teste para a hipótese nula de que 2 amostras independentes têm valores médios (esperados) idênticos. Este teste assume que as populações têm variâncias idênticas por padrão.

Hipóteses:

- H0: Consumo de clientes do sexo masculino foi igual ao consumo de clientes do sexo feminino no primeiro mês após o upgrade (consumo médio foi igual entre os gêneros).

- H1: Consumo de clientes do sexo masculino não foi igual ao consumo de clientes do sexo feminino no primeiro mês após o upgrade (consumo médio não foi igual entre os gêneros).

Se o valor-p for menor que 0,05 rejeitamos a H0. Caso contrário, falhamos em rejeitar a H0.

In [24]:
df.columns

Index(['id_cliente', 'genero', 'canal_atendimento', 'regiao', 'estado_civil',
       'segmento', 'consumo_medio_mensal_antes_upgrade',
       'consumo_medio_mes_anterior_ao_upgrade',
       'consumo_medio_primeiro_mes_apos_upgrade',
       'consumo_medio_segundo_mes_apos_upgrade'],
      dtype='object')

In [25]:
consumo_cliente_masculino = df.consumo_medio_primeiro_mes_apos_upgrade[df.genero == 0]
consumo_cliente_feminino = df.consumo_medio_primeiro_mes_apos_upgrade[df.genero == 1]

In [26]:
print(consumo_cliente_masculino.mean())
print(consumo_cliente_feminino.mean())

50.120879120879124
54.99082568807339

In [27]:
print(consumo_cliente_masculino.var())
print(consumo_cliente_feminino.var())

106.19633699633701
66.15732246007477

In [28]:
# Executando o teste
stats.ttest_ind(a= consumo_cliente_masculino, b= consumo_cliente_feminino, equal_var = False)
# Equal = False é para indicar que possui variancia diferente para as duas variáveis

Ttest_indResult(statistic=-3.656408047887528, pvalue=0.000340884935942662)

Como o valor-p é menor que 0,05, rejeitamos a H0. Assim, concluímos que houve diferença entre o consumo masculino e o consumo feminino de largura de banda no primeiro mês após o upgrade.

# Pergunta 4:

Relação entre variáveis categóricas

### Há alguma relação entre região e segmento do cliente?

### Neste caso usaremos: Teste do Qui-Quadrado.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

Teste qui-quadrado de independência de variáveis é usado em uma tabela de contingência. A função calcula a estatística qui-quadrado e o valor-p para o teste de hipótese de independência das frequências observadas na tabela de contingência. As frequências esperadas são calculadas com base nas somas marginais sob o pressuposto de independência.

Hipóteses:

- H0: Não há relacionamento entre região e segmento.
- H1: Há relacionamento entre região e segmento.

Se o valor-p for menor que 0,05 rejeitamos a H0. Caso contrário, falhamos em rejeitar a H0.

In [30]:
df.head()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
0,70,0,4,1,1,1,57,49.2,52,57.2
1,121,1,4,2,1,3,68,63.6,59,64.9
2,86,0,4,3,1,1,44,64.8,33,36.3
3,141,0,4,3,1,3,63,56.4,44,48.4
4,172,0,4,2,1,2,47,68.4,52,57.2

In [31]:
# Tabela de contingência
tabela_cont = pd.crosstab(df.segmento, df.regiao, margins = True)
tabela_cont

regiao     1   2   3  All
segmento
1         16  20   9   45
2         19  44  42  105
3         12  31   7   50
All       47  95  58  200

In [32]:
# Executando o teste
chi2, p, dof, ex = stats.chi2_contingency(observed = tabela_cont)

In [33]:
# Valor-p