In [1]:
# Import o findspark e incializa
import findspark
findspark.init()

In [2]:
# Conjunto de bibliotecas para fazer a comunicação entre Python e PostgreeSQL
!pip install -q psycopg2

In [3]:
!pip install -q psycopg2-binary

In [4]:
# Instalação do pacote que facilita a conexão com o postgreSQL, para execução de querys de forma simples
!pip install -q sqlalchemy

In [5]:
# Pacote para extrair dados do PostgreSQL
!pip install -q pandasql

In [8]:
# Imports
import psycopg2
import pandasql
import sqlalchemy
import pandas as pd
from pandasql import sqldf #Extrair dados do PostGreSql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine # Criação do rotor de conexão
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

# Carregando so dados com Pandas

In [10]:
# Carregando o dataset 1 com dados de nomes de jogadores
df1 = pd.read_csv("C:/formacao_dataScience_DSA_DADOS/01_bigData_RealTime_Python_Spark/cap12_Apache_Spark_SQL_1/dados/dataset1.csv",
                 index_col = False)

In [15]:
df1.head()

                Name                               url
0  Cristiano Ronaldo  /player/20801/cristiano-ronaldo/
1       Lionel Messi      /player/158023/lionel-messi/
2             Neymar            /player/190871/neymar/
3        Luis Suárez  /player/176580/luis-su%C3%A1rez/
4       Manuel Neuer      /player/167495/manuel-neuer/

In [12]:
df1.shape

(17588, 2)

In [13]:
df1.size

35176

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17588 entries, 0 to 17587
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    17588 non-null  object
 1   url     17588 non-null  object
dtypes: object(2)
memory usage: 274.9+ KB

In [26]:
# Carrega dataset 2
df2 = pd.read_csv("C:/formacao_dataScience_DSA_DADOS/01_bigData_RealTime_Python_Spark/cap12_Apache_Spark_SQL_1/dados/dataset2.csv",
                 index_col = False)

In [27]:
df2.head()

             Name                       url
0       FC Bayern       /team/21/fc-bayern/
1     Real Madrid    /team/243/real-madrid/
2    FC Barcelona   /team/241/fc-barcelona/
3        Juventus        /team/45/juventus/
4  Manchester Utd  /team/11/manchester-utd/

In [28]:
df2.shape

(633, 2)

In [29]:
df2.dtypes

Name    object
url     object
dtype: object

In [30]:
# Carrega dataset 3
df3 = pd.read_csv("C:/formacao_dataScience_DSA_DADOS/01_bigData_RealTime_Python_Spark/cap12_Apache_Spark_SQL_1/dados/dataset3.csv",
                 index_col = False)

In [31]:
df3.shape

(47, 2)

In [32]:
df3.head()

        Name                    url
0      Spain      /team/1362/spain/
1    Germany    /team/1337/germany/
2     Brazil     /team/1370/brazil/
3    Belgium    /team/1325/belgium/
4  Argentina  /team/1369/argentina/

In [33]:
df3.dtypes

Name    object
url     object
dtype: object

In [34]:
# Carrega dataset 4
df4 = pd.read_csv("C:/formacao_dataScience_DSA_DADOS/01_bigData_RealTime_Python_Spark/cap12_Apache_Spark_SQL_1/dados/dataset4.csv",
                 index_col = False)

In [36]:
df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [37]:
df4.columns

Index(['Name', 'Nationality', 'National_Position', 'National_Kit', 'Club',
       'Club_Position', 'Club_Kit', 'Club_Joining', 'Contract_Expiry',
       'Rating', 'Height', 'Weight', 'Preffered_Foot', 'Birth_Date', 'Age',
       'Preffered_Position', 'Work_Rate', 'Weak_foot', 'Skill_Moves',
       'Ball_Control', 'Dribbling', 'Marking', 'Sliding_Tackle',
       'Standing_Tackle', 'Aggression', 'Reactions', 'Attacking_Position',
       'Interceptions', 'Vision', 'Composure', 'Crossing', 'Short_Pass',
       'Long_Pass', 'Acceleration', 'Speed', 'Stamina', 'Strength', 'Balance',
       'Agility', 'Jumping', 'Heading', 'Shot_Power', 'Finishing',
       'Long_Shots', 'Curve', 'Freekick_Accuracy', 'Penalties', 'Volleys',
       'GK_Positioning', 'GK_Diving', 'GK_Kicking', 'GK_Handling',
       'GK_Reflexes'],
      dtype='object')

In [38]:
df4.dtypes

Name                   object
Nationality            object
National_Position      object
National_Kit          float64
Club                   object
Club_Position          object
Club_Kit              float64
Club_Joining           object
Contract_Expiry       float64
Rating                  int64
Height                 object
Weight                 object
Preffered_Foot         object
Birth_Date             object
Age                     int64
Preffered_Position     object
Work_Rate              object
Weak_foot               int64
Skill_Moves             int64
Ball_Control            int64
Dribbling               int64
Marking                 int64
Sliding_Tackle          int64
Standing_Tackle         int64
Aggression              int64
Reactions               int64
Attacking_Position      int64
Interceptions           int64
Vision                  int64
Composure               int64
Crossing                int64
Short_Pass              int64
Long_Pass               int64
Acceleration            int64
Speed                   int64
Stamina                 int64
Strength                int64
Balance                 int64
Agility                 int64
Jumping                 int64
Heading                 int64
Shot_Power              int64
Finishing               int64
Long_Shots              int64
Curve                   int64
Freekick_Accuracy       int64
Penalties               int64
Volleys                 int64
GK_Positioning          int64
GK_Diving               int64
GK_Kicking              int64
GK_Handling             int64
GK_Reflexes             int64
dtype: object

In [39]:
df4.describe()

,National_Kit,Club_Kit,Contract_Expiry,Rating,Age,Weak_foot,Skill_Moves,Ball_Control,Dribbling,Marking,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
count,1075.000000,17587.000000,17587.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,...,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000,17588.000000
mean,12.219535,21.294536,2018.899414,66.166193,25.460314,2.934103,2.303161,57.972766,54.802877,44.230327,...,47.403173,47.181146,43.383443,49.165738,43.275586,16.609620,16.823061,16.458324,16.559814,16.901183
std,6.933187,19.163741,1.698787,7.083012,4.680217,0.655927,0.746156,16.834779,18.913857,21.561703,...,19.211887,18.464396,17.701903,15.871735,17.710839,17.139904,17.798052,16.600741,16.967256,18.034485
min,1.000000,1.000000,2017.000000,45.000000,17.000000,1.000000,1.000000,5.000000,4.000000,3.000000,...,4.000000,6.000000,4.000000,7.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,9.000000,2017.000000,62.000000,22.000000,3.000000,2.000000,53.000000,47.000000,22.000000,...,32.000000,34.000000,31.000000,39.000000,30.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,12.000000,18.000000,2019.000000,66.000000,25.000000,3.000000,2.000000,63.000000,60.000000,48.000000,...,52.000000,48.000000,42.000000,50.000000,44.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,18.000000,27.000000,2020.000000,71.000000,29.000000,3.000000,3.000000,69.000000,68.000000,64.000000,...,63.000000,62.000000,57.000000,61.000000,57.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,36.000000,99.000000,2023.000000,94.000000,47.000000,5.000000,5.000000,95.000000,97.000000,92.000000,...,91.000000,92.000000,93.000000,96.000000,93.000000,91.000000,89.000000,95.000000,91.000000,90.000000

# Conectando apenas ao SGBD PostgreSQL no Docker

##### Não conectamos a um banco de dados

In [40]:
# Cria a conexão
pqconn = psycopg2.connect(host = 'localhost', user = 'postgres', password = 'dsa')

In [41]:
# Abre um cursor
pqcursor = pqconn.cursor()

In [43]:
# Objeto cursor
pqcursor

In [44]:
# Define o nível de isolamento para executar as queries SQL no SGBD
pqconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT) # salvamento automático

In [46]:
#Drop do banco de dados (se existir)
pqcursor.execute('drop database if exists dbdsa')

In [47]:
# Cria o banco de dados SGBD
pqcursor.execute('CREATE DATABASE dbdsa')

In [48]:
# Fecha o cursor
pqconn.close()

# Conectando ao Banco de Dados no SGBD PostgreSQL no Docker

##### Agora sim, conectamos ao banco de dados

In [50]:
# Criando conexão
pqconn = psycopg2.connect(host = 'localhost', user = 'postgres', database = 'dbdsa',  password = 'dsa')

# Criando a Engine SQLAlchemy de Conexão ao PostgreSQL no Docker

In [53]:
# Cria o engine SQLAlchemy
engine = create_engine('postgresql+psycopg2://postgres:dsa@localhost/dbdsa')

# Rotor de conexão

In [54]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost/dbdsa)

# Carregando dados do DF Pandas no Banco de Dados PostgreSQL

In [63]:
# Agora usaremos o método 'to_sql()' para salvar o primeiro df pandas na tabela do PostgreSQL
# Se a tabela já existir, será sobrescrita
df1.to_sql('tabela_df1', engine, if_exists = 'replace', index = False)

588

In [64]:
df2.to_sql('tabela_df2', engine, if_exists = 'replace', index = False)

633

In [65]:
df3.to_sql('tabela_df3', engine, if_exists = 'replace', index = False)

47

In [66]:
df4.to_sql('tabela_df4', engine, if_exists = 'replace', index = False)

588

# Carregando dados do PostgreSQL em DataFrame do Pandas com PandaSQL

In [67]:
# Verificando o numero de linhas das tabelas
pd.read_sql_query('select count(*) from tabela_df2', engine)

   count
0    633

In [69]:
# Query de consulta aos metadados para obter detalhes de uma tabela 
pd.read_sql_query('''select ordinal_position, column_name, data_type
                    from information_schema.columns
                    where table_name = 'tabela_df4'
                    ''',
                 engine).head(10)

   ordinal_position        column_name data_type
0                53        GK_Reflexes    bigint
1                41            Heading    bigint
2                42         Shot_Power    bigint
3                43          Finishing    bigint
4                44         Long_Shots    bigint
5                45              Curve    bigint
6                46  Freekick_Accuracy    bigint
7                47          Penalties    bigint
8                48            Volleys    bigint
9                49     GK_Positioning    bigint

In [70]:
# Carrega todos os dados de uma tabela no PostgreSQL em um dataframe do Pandas
df_tabela_df4 = pd.read_sql('select * from tabela_df4', engine)

In [71]:
df_tabela_df4.shape

(17588, 53)

In [72]:
df_tabela_df4.head()

,Name,Nationality,National_Position,National_Kit,Club,Club_Position,Club_Kit,Club_Joining,Contract_Expiry,Rating,...,Long_Shots,Curve,Freekick_Accuracy,Penalties,Volleys,GK_Positioning,GK_Diving,GK_Kicking,GK_Handling,GK_Reflexes
0,Cristiano Ronaldo,Portugal,LS,7.0,Real Madrid,LW,7.0,07/01/2009,2021.0,94,...,90,81,76,85,88,14,7,15,11,11
1,Lionel Messi,Argentina,RW,10.0,FC Barcelona,RW,10.0,07/01/2004,2018.0,93,...,88,89,90,74,85,14,6,15,11,8
2,Neymar,Brazil,LW,10.0,FC Barcelona,LW,11.0,07/01/2013,2021.0,92,...,77,79,84,81,83,15,9,15,9,11
3,Luis Suárez,Uruguay,LS,9.0,FC Barcelona,ST,9.0,07/11/2014,2021.0,92,...,86,86,84,85,88,33,27,31,25,37
4,Manuel Neuer,Germany,GK,1.0,FC Bayern,GK,1.0,07/01/2011,2021.0,92,...,16,14,11,47,11,91,89,95,90,89

In [74]:
# Carrega somente as colunas indicadas
select_df = pd.read_sql('tabela_df4', engine, columns = ['Name', 'Age', 'Speed', 'Height', 'Weight'])

In [75]:
select_df.shape

(17588, 5)

In [76]:
select_df.head()

                Name  Age  Speed  Height Weight
0  Cristiano Ronaldo   32     92  185 cm  80 kg
1       Lionel Messi   29     87  170 cm  72 kg
2             Neymar   25     90  174 cm  68 kg
3        Luis Suárez   30     77  182 cm  85 kg
4       Manuel Neuer   31     61  193 cm  92 kg